## Importando os dados

In [2]:
# abrir a conexão com o banco de dados
import sqlite3
import pandas as pd
conn = sqlite3.connect("database.db")

In [21]:
# consulta os dados no banco de dados
consulta_atividade = "SELECT * FROM flight_activity"
df_atividade = pd.read_sql_query(consulta_atividade, conn)

In [ ]:
df_atividade.head()

## JOIN

In [ ]:
consulta_atividade = """
  SELECT
    fh.loyalty_number,
    fh.country,
    fh.city,
    fa.year,
    fa.month,
    fa.flights_booked

  FROM
    flight_loyalty_history fh JOIN flight_activity fa ON (fh.loyalty_number = fa.loyalty_number)


"""
df_atividade = pd.read_sql_query(consulta_atividade, conn)
df_atividade.head()

In [ ]:
df_atividade.info()

In [ ]:
df_atividade.shape

## Exercícios da Aula 02

In [ ]:
# EXERCÍCIO 1
# selecionar o número do cartão de fidelidade, a cidade e o
# gênero dos passageiros que tem o cartão Star mas nunca realizaram
# nenhuma viagem
consulta_atividade = """

     SELECT
      fa.loyalty_number,
      fa.distance,
      fh.city,
      fh.gender,
      fh.loyalty_card
     FROM
      flight_activity fa LEFT JOIN flight_loyalty_history fh ON (fh.loyalty_number = fa.loyalty_number)
     WHERE
        loyalty_card == 'Star' AND distance == 0
     """
df_atividade = pd.read_sql_query(consulta_atividade, conn)
df_atividade

In [ ]:
# EXERCÌCIO 2
# selecionar os números do cartão de fidelidade, o gênero e a cidade de todos os
# passageiros do sexo feminino que moram na cidade de Toronto, fizeram mais de 30
# viagens no total e tem o cartão de fidelidade do tipo Aurora.
consulta_atividade = """

     SELECT
      fa.loyalty_number,
      fh.gender,
      fh.city,
      fa.total_flights,
      fh.loyalty_card
     FROM
      flight_activity fa LEFT JOIN flight_loyalty_history fh
      ON (fh.loyalty_number = fa.loyalty_number)
     WHERE
        gender == 'Female'
        AND city == 'Toronto'
        AND total_flights == 30
        AND loyalty_card == 'Aurora'
     """
df_atividade = pd.read_sql_query(consulta_atividade, conn)
df_atividade

In [ ]:
# EXERCÌCIO 3
# Selecionar os números do cartão de fidelidade, o tipo do cartão, o gênero e os
# pontos acumulados, dos passageiros com salário acima de 13200, estado civil como
# casado e nível acadêmico como mestrado e número de voos agendados igual ao
# número total de voos.
consulta_atividade = """

     SELECT
      fa.loyalty_number,
      fh.loyalty_card,
      fh.gender,
      fa.points_accumulated

     FROM
      flight_activity fa LEFT JOIN flight_loyalty_history fh
      ON (fh.loyalty_number = fa.loyalty_number)
     WHERE
        salary > 13200
        AND marital_status == 'Married'
        AND education == 'Master'
        AND flights_booked = total_flights
     """
df_atividade = pd.read_sql_query(consulta_atividade, conn)
df_atividade

In [22]:
# EXERCÌCIO 4
# Qual o valor da soma total da distância percorrida pelos voos registrados na
# planilha de dados?

df_atividade.loc[:, 'distance'].sum()

490350765

In [24]:
# EXERCÌCIO 5
# Qual o salário médio dos passageiros?
consulta_atividade = "SELECT * FROM flight_loyalty_history"
df_atividade = pd.read_sql_query(consulta_atividade, conn)
df_atividade.loc[:, 'salary'].mean()

79245.6094087527

In [25]:
# EXERCÌCIO 6
# Qual o valor total de pontos acumulados?
consulta_atividade = "SELECT * FROM flight_activity"
df_atividade = pd.read_sql_query(consulta_atividade, conn)
df_atividade.loc[:, 'points_accumulated'].sum()

50172736.25